/commande_dev/node_modules
/catalogue_dev/node_modules
/point-de-vente_dev/node_modules

/commande_dev/package-lock.json
/catalogue_dev/package-lock.json
/point-de-vente_dev/package-lock.json

# PhPStorm
.idea

# Mac
.DS_Store